@{
    ViewData["Title"] = "Nosotros";
    Layout = "_LayoutHome";
}
<h1>@ViewData["Title"]</h1>

<p>Somos un grupo de estudiantes buscando facilitar información respecto al desempeño de los Profesores de la Universidad Fidélitas
    con el fin de prepararse y tomar mejores decisiones de matrícula. </p> 


