@{
    ViewData["Title"] = "Nosotros";
    Layout = "_LayoutUser";
}
<h1>@ViewData["Title"]</h1>

<p>Somos un grupo de estudiantes buscando facilitar información respecto al desempeño de los Profesores de la Universidad Fidélitas
    con el fin de prepararse y tomar mejores decisiones de matrícula. </p> 

@*<button type="button" class="btn btn-warning" href="~/Solicitud/Create">Solicitud de inclusión de datos</button>*@
<a class="btn btn-warning" asp-action="Create" asp-controller="Solicitud">Solicitud de inclusión de datos</a>