@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "Bienvenido(a)!";
}

<head>
    <!-- Custom styles for this page -->
    <link href="~/theme/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<h1>Bienvenido(a)!</h1>
<hr />
<h2> Lista de Usuarios </h2>
<p>
    <a asp-action="Create">Crear Usuario</a>
</p>
    
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <tr><th>Correo</th></tr>
        @foreach (Microsoft.AspNetCore.Identity.IdentityUser user in Model)
        {
            <tr>
                @*<td>@user.Id</td>*@
                <td>@user.Email</td>
                <td>
                    <a asp-action="Update" asp-route-id="@user.Id">
                        Editar
                    </a> |
                    <a asp-action="Delete" asp-route-id="@user.Id" method="post">

                        Eliminar

                    </a>
                </td>
            </tr>
        }
    </table>
</div>