@model UI.Models.Etiqueta

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Desea eliminar la etiqueta seleccionada?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
          Etiqueta  @*@Html.DisplayNameFor(model => model.NombreEtiqueta)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEtiqueta)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEtiqueta" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">regresar</a>
    </form>
</div>
