@model IEnumerable<UI.Models.Etiqueta>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Etiquetas</h1>

<p>
    <a asp-action="Create">Crear Etiqueta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Etiqueta  @*@Html.DisplayNameFor(model => model.NombreEtiqueta)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEtiqueta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEtiqueta">Editar</a> |
                @*<a asp-action="Details" asp-route-id="@item.IdEtiqueta">Details</a> |*@
                @*<a asp-action="Delete" asp-route-id="@item.IdEtiqueta">Eliminar</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
