@model UI.Models.Calificacion

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutUser";
}



<h4>Ingrese su calificación</h4>
<hr />
<div>
    <form asp-action="Create">
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdProfesor" class="control-label"></label>
                    <select asp-for="IdProfesor" class="form-control" asp-items="ViewBag.IdProfesor"></select>
                </div>
                <div class="form-group">
                    <label asp-for="IdCurso" class="control-label"></label>
                    <select asp-for="IdCurso" class="form-control" asp-items="ViewBag.IdCurso"></select>
                </div>
                <div class="form-group">
                    <label asp-for="IdCarrera" class="control-label"></label>
                    <select asp-for="IdCarrera" class="form-control" asp-items="ViewBag.IdCarrera"></select>
                </div>
                @*<div class="form-group">
                    <label asp-for="Estado" class="control-label"></label>
                    <input asp-for="Estado" class="form-control" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="Comentario" class="control-label"></label>
                    <input asp-for="Comentario" class="form-control" />
                    <span asp-validation-for="Comentario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdEtiqueta" class="control-label"></label>
                    <select asp-for="IdEtiqueta" class="form-control" asp-items="ViewBag.IdEtiqueta"></select>
                </div>
                @*<div class="form-group">
                    <label asp-for="Puntaje" class="control-label"></label>
                    <input asp-for="Puntaje" class="form-control" />
                    <span asp-validation-for="Puntaje" class="text-danger"></span>
                </div>*@
            </div>
            <div class="col-md-4">
                @*<div id="form-wrapper">
                    <label asp-for="Facilidad" class="control-label"></label><br />
                    <div id="debt-amount-slider">
                        <input type="radio" name="Facilidad" id="1" value="1" required>
                        <label for="1" data-debt-amount="< $10k"></label>
                        <input type="radio" name="Facilidad" id="2" value="2" required>
                        <label for="2" data-debt-amount="$10k-25k"></label>
                        <input type="radio" name="Facilidad" id="3" value="3" required>
                        <label for="3" data-debt-amount="$25k-50k"></label>
                        <input type="radio" name="Facilidad" id="4" value="4" required>
                        <label for="4" data-debt-amount="$50k-100k"></label>
                        <input type="radio" name="Facilidad" id="5" value="5" required>
                        <label for="5" data-debt-amount="$100k+"></label>
                        <div id="debt-amount-pos"></div>
                    </div>
                </div>*@
                <div class="form-group">
                    <label asp-for="Facilidad" class="control-label"></label><br />
                    <input asp-for="Facilidad" type="radio" name="Facilidad" value="1" checked />
                    <label asp-for="Facilidad" class="form-check-label" for="inlineRadio1">1</label>&nbsp;&nbsp;
                    <input asp-for="Facilidad" type="radio" name="Facilidad" value="2" />
                    <label asp-for="Facilidad" class="form-check-label" for="inlineRadio1">2</label>&nbsp;&nbsp;
                    <input asp-for="Facilidad" type="radio" name="Facilidad" value="3" />
                    <label asp-for="Facilidad" class="form-check-label" for="inlineRadio1">3</label>&nbsp;&nbsp;
                    <input asp-for="Facilidad" type="radio" name="Facilidad" value="4" checked />
                    <label asp-for="Facilidad" class="form-check-label" for="inlineRadio1">4</label>&nbsp;&nbsp;
                    <input asp-for="Facilidad" type="radio" name="Facilidad" value="5" />
                    <label asp-for="Facilidad" class="form-check-label" for="inlineRadio1">5</label>&nbsp;&nbsp;
                    <input asp-for="Facilidad" type="radio" name="Facilidad" value="6" />
                    <label asp-for="Facilidad" class="form-check-label" for="inlineRadio1">6</label>&nbsp;&nbsp;
                    <input asp-for="Facilidad" type="radio" name="Facilidad" value="7" checked />
                    <label asp-for="Facilidad" class="form-check-label" for="inlineRadio1">7</label>&nbsp;&nbsp;
                    <input asp-for="Facilidad" type="radio" name="Facilidad" value="8" />
                    <label asp-for="Facilidad" class="form-check-label" for="inlineRadio1">8</label>&nbsp;&nbsp;
                    <input asp-for="Facilidad" type="radio" name="Facilidad" value="9" />
                    <label asp-for="Facilidad" class="form-check-label" for="inlineRadio1">9</label>&nbsp;&nbsp;
                    <span asp-validation-for="Facilidad" class="text-danger"></span>
                </div>
                @*<div class="form-group">
            <label asp-for="Facilidad" class="control-label"></label>
            <input asp-for="Facilidad" class="form-control" />
            <span asp-validation-for="Facilidad" class="text-danger"></span>
        </div>*@
                <div class="form-group">
                    <label asp-for="Apoyo" class="control-label"></label><br />
                    <input asp-for="Apoyo" type="radio" name="Apoyo" value="1" checked />
                    <label asp-for="Apoyo" class="form-check-label" for="inlineRadio1">1</label>&nbsp;&nbsp;
                    <input asp-for="Apoyo" type="radio" name="Apoyo" value="2" />
                    <label asp-for="Apoyo" class="form-check-label" for="inlineRadio1">2</label>&nbsp;&nbsp;
                    <input asp-for="Apoyo" type="radio" name="Apoyo" value="3" />
                    <label asp-for="Apoyo" class="form-check-label" for="inlineRadio1">3</label>&nbsp;&nbsp;
                    <input asp-for="Apoyo" type="radio" name="Apoyo" value="4" checked />
                    <label asp-for="Apoyo" class="form-check-label" for="inlineRadio1">4</label>&nbsp;&nbsp;
                    <input asp-for="Apoyo" type="radio" name="Apoyo" value="5" />
                    <label asp-for="Apoyo" class="form-check-label" for="inlineRadio1">5</label>&nbsp;&nbsp;
                    <input asp-for="Apoyo" type="radio" name="Apoyo" value="6" />
                    <label asp-for="Apoyo" class="form-check-label" for="inlineRadio1">6</label>&nbsp;&nbsp;
                    <input asp-for="Apoyo" type="radio" name="Apoyo" value="7" checked />
                    <label asp-for="Apoyo" class="form-check-label" for="inlineRadio1">7</label>&nbsp;&nbsp;
                    <input asp-for="Apoyo" type="radio" name="Apoyo" value="8" />
                    <label asp-for="Apoyo" class="form-check-label" for="inlineRadio1">8</label>&nbsp;&nbsp;
                    <input asp-for="Apoyo" type="radio" name="Apoyo" value="9" />
                    <label asp-for="Apoyo" class="form-check-label" for="inlineRadio1">9</label>&nbsp;&nbsp;
                    @*<input asp-for="Apoyo" class="form-control" />*@
                    <span asp-validation-for="Apoyo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Claridad" class="control-label"></label><br />
                    <input asp-for="Claridad" type="radio" name="Claridad" value="1" checked />
                    <label asp-for="Claridad" class="form-check-label" for="inlineRadio1">1</label>&nbsp;&nbsp;
                    <input asp-for="Claridad" type="radio" name="Claridad" value="2" />
                    <label asp-for="Claridad" class="form-check-label" for="inlineRadio1">2</label>&nbsp;&nbsp;
                    <input asp-for="Claridad" type="radio" name="Claridad" value="3" />
                    <label asp-for="Claridad" class="form-check-label" for="inlineRadio1">3</label>&nbsp;&nbsp;
                    <input asp-for="Claridad" type="radio" name="Claridad" value="4" checked />
                    <label asp-for="Claridad" class="form-check-label" for="inlineRadio1">4</label>&nbsp;&nbsp;
                    <input asp-for="Claridad" type="radio" name="Claridad" value="5" />
                    <label asp-for="Claridad" class="form-check-label" for="inlineRadio1">5</label>&nbsp;&nbsp;
                    <input asp-for="Claridad" type="radio" name="Claridad" value="6" />
                    <label asp-for="Claridad" class="form-check-label" for="inlineRadio1">6</label>&nbsp;&nbsp;
                    <input asp-for="Claridad" type="radio" name="Claridad" value="7" checked />
                    <label asp-for="Claridad" class="form-check-label" for="inlineRadio1">7</label>&nbsp;&nbsp;
                    <input asp-for="Claridad" type="radio" name="Claridad" value="8" />
                    <label asp-for="Claridad" class="form-check-label" for="inlineRadio1">8</label>&nbsp;&nbsp;
                    <input asp-for="Claridad" type="radio" name="Claridad" value="9" />
                    <label asp-for="Claridad" class="form-check-label" for="inlineRadio1">9</label>&nbsp;&nbsp;
                    @*<input asp-for="Claridad" class="form-control" />*@
                    <span asp-validation-for="Claridad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Recomienda" class="control-label"></label>
                    <input asp-for="Recomienda" class="form-control" />
                    <span asp-validation-for="Recomienda" class="text-danger"></span>
                </div>

            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
