@model UI.Models.Calificacion

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutUser";
}

<h1>Crear</h1>

<h4>Calificación</h4>
<hr />
<div>
    <form asp-action="Create">
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdProfesor" class="control-label"></label>
                    <select asp-for="IdProfesor" class="form-control" asp-items="ViewBag.IdProfesor"></select>
                </div>
                <div class="form-group">
                    <label asp-for="IdCurso" class="control-label"></label>
                    <select asp-for="IdCurso" class="form-control" asp-items="ViewBag.IdCurso"></select>
                </div>
                <div class="form-group">
                    <label asp-for="IdCarrera" class="control-label"></label>
                    <select asp-for="IdCarrera" class="form-control" asp-items="ViewBag.IdCarrera"></select>
                </div>
                @*<div class="form-group">
                    <label asp-for="Estado" class="control-label"></label>
                    <input asp-for="Estado" class="form-control" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="Comentario" class="control-label"></label>
                    <input asp-for="Comentario" class="form-control" />
                    <span asp-validation-for="Comentario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdEtiqueta" class="control-label"></label>
                    <select asp-for="IdEtiqueta" class="form-control" asp-items="ViewBag.IdEtiqueta"></select>
                </div>
                @*<div class="form-group">
                    <label asp-for="Puntaje" class="control-label"></label>
                    <input asp-for="Puntaje" class="form-control" />
                    <span asp-validation-for="Puntaje" class="text-danger"></span>
                </div>*@
            </div>
            <div class="col-md-4">
                <label asp-for="Facilidad" class="control-label"></label>
                <div class="form-check form-check-inline">
                    <input asp-for="Facilidad" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                    <label asp-for="Facilidad" class="form-check-label" for="inlineRadio1">1</label>
                </div>
                @*<div class="form-group">
            <label asp-for="Facilidad" class="control-label"></label>
            <input asp-for="Facilidad" class="form-control" />
            <span asp-validation-for="Facilidad" class="text-danger"></span>
        </div>*@
                <div class="form-group">
                    <label asp-for="Apoyo" class="control-label"></label>
                    <input asp-for="Apoyo" class="form-control" />
                    <span asp-validation-for="Apoyo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Claridad" class="control-label"></label>
                    <input asp-for="Claridad" class="form-control" />
                    <span asp-validation-for="Claridad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Recomienda" class="control-label"></label>
                    <input asp-for="Recomienda" class="form-control" />
                    <span asp-validation-for="Recomienda" class="text-danger"></span>
                </div>

            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
